<h1>Index Page</h1>
<a href="/hogwarts/create">Add New Student</a>
<br>

<% for student in @students %>
  <p>Name: <%= student.first_name %> <%= student.second_name %></p>
  <p>Age: <%= student.age %></p>
  <p>House: <%= student.house %></p>
  <hr>
<% end %>
